In [35]:
import pandas as pd

In [36]:
data = {
    "First-name" : ["Burak" , "Donald" , "Joe" , "Liza"],
    "Last-name" : ["Obama" , "Trump" , "Biden" , "Sehre"]
}

In [37]:
df = pd.DataFrame(data)
df

  First-name Last-name
0      Burak     Obama
1     Donald     Trump
2        Joe     Biden
3       Liza     Sehre

In [38]:
df["Full-name"] = df["First-name"] + " " + df["Last-name"]
df

  First-name Last-name     Full-name
0      Burak     Obama   Burak Obama
1     Donald     Trump  Donald Trump
2        Joe     Biden     Joe Biden
3       Liza     Sehre    Liza Sehre