# DATAFRAME DATA-STRUC

In [2]:
import pandas as pd

In [6]:
l = [1,2,3,4,5,6]
var = pd.DataFrame(l)
varprint(type(var))

<class 'pandas.core.frame.DataFrame'>

In [7]:
var

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [64]:
d = {"A" : [1,2,3,4,5] , "B":[1,2,3,4,5]}
var1 = pd.DataFrame(d)
var1
print(var1["A"][3])

4